
<div class="container">
	Filter: <input ng-model="filterText"><br>
	<table class="table table-striped" ng-init="predicate = 'gradYear'">
		<thead>
			<tr>
				<th><a href=""
					ng-click="predicate = 'chineseLastName';
					reverse=!reverse">姓</a></th>
				<th><a href=""
					ng-click="predicate = 'chineseFirstName';
					reverse=!reverse">名</a></th>
				<th><a href=""
					ng-click="predicate = 'englishLastName';
					reverse=!reverse">Last
						Name</a></th>
				<th><a href=""
					ng-click="predicate = 'englishFirstName';
					reverse=!reverse">First
						Name</a></th>
				<th><a href=""
					ng-click="predicate = 'gradYear';
					reverse=!reverse">年次</a></th>
				<th>action <a class="btn btn-default btn-sm" href="#"> <i
						class="fa fa-plus fa-lg"></i></a></th>
			</tr>
		</thead>
		<tbody>
			`
			<tr
				ng-repeat="student in students | filter:filterText | orderBy:predicate:reverse">
				<td>{{student.chineseLastName}}</td>
				<td>{{student.chineseFirstName}}</td>
				<td>{{student.englishLastName}},</td>
				<td>{{student.englishFirstName}}</td>
				<td>{{student.gradYear}}</td>
				<td><a ng-click="doEdit()" class="btn btn-default btn-sm"
					href=""> <i class="fa fa-pencil fa-lg"></i>
				</a><a ng-click='doDelete(student)' class="btn btn-danger btn-sm"> <i
						class="fa fa-trash-o fa-lg"></i>
				</a></td>
			</tr>
		</tbody>
	</table>
</div>
