<div class="container">


	<table class="table">
		<tbody>
			<tr>
				<td><label>Contest Group:</label></td>
				<td><select ng-change="selectedContestGroupChanged()"
					class="form-control" ng-model="selectedContestGroup"
					ng-options="contestGroup.name for contestGroup in contestGroups">
						<option value="">-- Please Select the Contest Group --</option>
				</select></td>
				<td><button ng-click="selectedContestGroupChanged()"
						class="btn btn-primary">Refresh</button></td>
			</tr>
		</tbody>
	</table>

	<div ng-show="contestors != null">
		<table class="table table-striped" ng-init="predicate = 'finalRanke'">
			<thead>
				<tr>
					<th><a href=""
						ng-click="predicate = 'finalRank';
					reverse=!reverse">名次</a></th>
					<th><a href=""
						ng-click="predicate = 'contestOrder';
					reverse=!reverse">出場順序</a></th>
					<th><a href=""
						ng-click="predicate = 'students';
					reverse=!reverse">學生姓名</a></th>
					<th><a href=""
						ng-click="predicate = 'speechTitle';
					reverse=!reverse">演講題目</a></th>
					<th
						ng-repeat="scoreRuleItem in selectedContestGroup.scoreRule.scoreRuleItems | orderBy:'idscore_rule_item'">{{scoreRuleItem.name}}
						{{scoreRuleItem.weight}} % 總分</th>

					<th><a href=""
						ng-click="predicate = 'speechScoreTotal';
					reverse=!reverse">演講總分</a></th>

					<th><a href=""
						ng-click="predicate = 'scoreMarkingTotal';
					reverse=!reverse">違規扣分</a></th>

					<th><a href=""
						ng-click="predicate = 'timeScoreTotal';
					reverse=!reverse">時間扣分</a></th>

					<th><a href=""
						ng-click="predicate = 'finalScore';
					reverse=!reverse">最後分數</a></th>
					<th
						ng-repeat="contestorScore in contestors[0].contestorScores | getOnlyRoleFilter:'1' | orderBy: 'judge.idjudge'"><a
						href="">{{contestorScore.judge.staff.chineseLastName}}{{contestorScore.judge.staff.chineseFirstName}}-{{contestorScore.judge.idjudge}}-{{contestorScore.judge.role.name}}</a></th>
					<th
						ng-repeat="contestorScore in contestors[0].contestorScores | getOnlyRoleFilter:'2' | orderBy: 'judge.idjudge'"><a
						href="">{{contestorScore.judge.staff.chineseLastName}}{{contestorScore.judge.staff.chineseFirstName}}-{{contestorScore.judge.idjudge}}-{{contestorScore.judge.role.name}}</a></th>


				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="record in contestors | orderBy:predicate:reverse">
					<td>{{record.finalRank}}</td>
					<td>{{record.contestOrder}}</td>
					<td><span ng-repeat="student in record.students">{{student.chineseLastName}}{{student.chineseFirstName}}
							{{student.englishFirstName}} {{student.englishLastName}} </span></td>
					<td>{{record.speechTitle}}</td>
					<td
						ng-repeat="score in record.scoreRuleItemSums | orderBy:'idscore_ruleItem'">{{score.speechScore.score}}</td>

					<td>{{record.totalSpeechScore}}</td>
					<td>{{record.totalScoreMarking}}</td>
					<td>{{record.totalTimeScore}}</td>
					<td>{{record.finalScore}}</td>
					<td
						ng-class="{success: contestorScore.judge.submit, danger: !contestorScore.judge.submit}"
						ng-repeat="contestorScore in record.contestorScores | getOnlyRoleFilter:'1' | orderBy:'judge.idjudge'">{{contestorScore.judge.staff.chineseLastName}}{{contestorScore.judge.staff.chineseFirstName}}
						<table class="table">
							<tbody>
								<tr
									ng-class="{success: contestorScore.judge.submit, danger: !contestorScore.judge.submit}">
									<td
										ng-repeat="speechScore in contestorScore.speechScores | orderBy:'scoreRuleItem.idscore_rule_item'">{{speechScore.scoreRuleItem.name}}
									</td>
								</tr>
								<tr
									ng-class="{success: contestorScore.judge.submit, danger: !contestorScore.judge.submit}">
									<td
										ng-repeat="speechScore in contestorScore.speechScores | orderBy:'scoreRuleItem.idscore_rule_item'">{{speechScore.score}}</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td
						ng-repeat="contestorScore in record.contestorScores | getOnlyRoleFilter:'2' | orderBy:'judge.idjudge'">{{contestorScore.judge.staff.chineseLastName}}{{contestorScore.judge.staff.chineseFirstName}}
						<table class="table table-striped">
							<thead>
								<tr>
									<th>計時</th>

									<th>點名扣分</th>

									<th>閃光燈扣分</th>

									<th>家長提詞 / 手勢</th>

									<th>不到棄權</th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="record in contestorsForJudgeToScore | filter:filterText | orderBy:predicate:reverse">
									<td>{{record.timeScore.minute}} 分
										{{record.timeScore.second}} 秒</td>
									<td>{{record.scoreMarking.rollCallMarking}}</td>
									<td>{{record.scoreMarking.flashLightMarking}}</td>
									<td>{{record.scoreMarking.audienceHelper}}</td>
									<td>{{record.scoreMarking.absenceText}}</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>